.header__timer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	position: relative;
	background-color: #fff;
	min-height: 80px;
}

.header-subtitle {
	font-size: clamp(1rem, 0.75rem + 1.25vw, 1.875rem);
	color: var(--accent);
	font-weight: bold;
}

.timer {
	font-size: clamp(2.5rem, 2.143rem + 1.79vw, 3.75rem);
	color: #01b9c5;
	line-height: 103%;
	position: relative;
	letter-spacing: 2px;
	font-family: 'bebas';
	&::after {
		content: 'минуты';
		position: absolute;
		color: #818798;
		left: -5px;
		top: 50%;
		font-size: 16px;
		letter-spacing: 0;
		font-family: 'ptRoot';
	}

	&::before {
		content: 'секунды';
		position: absolute;
		color: #818798;
		left: 58.5%;
		top: 50%;
		font-size: 16px;
		letter-spacing: 0;
		font-family: 'ptRoot';
	}
}

.timer__info {
	position: absolute;
	bottom: 5%;
	font-weight: bold;
	font-size: 16px;
	color: #818798;
}

.timer__info-1 {
	left: 55%;
}

.timer__info-2 {
	left: 60%;
}

.animate {
	animation: timer 2s linear infinite;
}

@keyframes timer {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.04;
	}
	100% {
		scale: 1;
	}
}
