.modal {
	position: absolute;
	// display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 750px;
	background-color: #f5f7f7;
}

.modal__subtitle {
	padding: 4px 10px 6px 10px;
	background-color: #01b9c5;
	width: max-content;
}

.modal__card {
}

.modal__title {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	span {
		color: #01b9c5;
	}
	margin-bottom: 30px;
}

.modal__info-text {
	font-size: 24px;
	margin-bottom: 8px;
	span {
		font-weight: bold;
	}
}

.info__link {
	font-size: 24px;
	font-weight: bold;
	color: var(--accent);
	span {
		color: #01b9c5;
	}
	padding: 12px 28px;
	border: 2px solid #01b9c5;
	border-radius: 60px;
}

.modal__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 56px;
}

.modal__cards {
	display: flex;
	justify-content: space-around;
}

.modal__cards-title {
	margin-left: 40px;
	font-size: 24px;
	margin-bottom: 20px;
}

.modal__card-item {
	padding: 26px 22px 20px 26px;
	background-color: #ffffff;
	border-radius: 20px;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		left: 50%;
		top: 55%;
		transform: translate(-50%, -50%);
		height: 2px;
		width: 50%;
		background-color: #e7eaf1;
	}
}

.card__info-item {
	font-size: 26px;
	text-transform: uppercase;
	color: #2d3242;
	max-width: 210px;
}

.card__old-price {
	font-size: 20px;
	font-weight: bold;
	color: #2d3242;
	position: relative;
	width: fit-content;
	margin-bottom: 40px;
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		background-color: #fd4d35;
		height: 2px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) rotate(15deg);
	}
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		background-color: #fd4d35;
		height: 2px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) rotate(-15deg);
	}
}

.card__info-price {
	font-size: 46px;
	font-weight: bold;
}

.card__info-item-wrap {
	display: flex;
	align-items: center;
	gap: 58px;
	margin-bottom: 12px;
}

.modal__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}

.btn-modal {
	padding: 20px 42px;
	background-color: #fd4d35;
	margin-bottom: 40px;
	border-radius: 30px;
	font-size: 20px;
	color: #fff;
}

.modal__subtitle-wrap {
	display: flex;
	justify-content: space-between;
	margin-left: 42px;
	margin-bottom: 30px;
}

.close {
	margin-right: 20px;
}