@font-face {
	font-family: 'ptRoot';
	src: url('../fonts/pt-root-ui_medium.woff');
	font-weight: 500;
}
@font-face {
	font-family: 'ptRoot';
	src: url('../fonts/pt-root-ui_bold.woff');
	font-weight: 800;
}

@font-face {
	font-family: 'bebasCyr';
	src: url('../fonts/ofont.ru_Bebas\ Neue.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'bebas';
	src: url('../fonts/BebasNeue-Regular.ttf');
	font-weight: normal;
}
